.login-container {
  font-family: Poppins, sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #fff;
}

.header {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  border-bottom: 1px solid #e0e0e0;
  height: 60px;
  width: 100%;
  box-sizing: border-box;
  position: fixed;
  z-index: 1000;
}

.nav-left {
  display: flex;
  align-items: center;
}

.logo {
  margin-top: 0px;
  height: 60px;
  object-fit: contain;
  cursor: pointer;
}

.nav-links a {
  margin-left: 20px;
  color: #4a3c8c;
  text-decoration: none;
  font-size: 14px;
  padding: 5px 10px;
}

.nav-links a:hover {
  color: #6b5b95;
}

.nav-right {
  display: flex;
  align-items: center;
}

.login-btn-nav{
  padding: 8px 15px;
  margin-left: 10px;
  background: linear-gradient(45deg, #a084ca, #6b5b95); /* Gradient nền */
  border: 1px solid #a084ca;
  border-radius: 20px;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease; /* Hiệu ứng chuyển mượt */
}

.signup-btn {
  padding: 8px 15px;
  margin-left: 10px;
  border: 1px solid #a084ca;
  border-radius: 20px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  transition: all 0.3s ease; /* Hiệu ứng chuyển mượt */
}

.login-btn-nav:hover {
  background: linear-gradient(45deg, #8a6ab7, #5a4a84); /* Gradient đổi khi hover */
  transform: translateY(-2px); /* Nâng nhẹ */
  color: #fff;
}

.signup-btn {
  background-color: #fff;
  color: #a084ca;
}

.signup-btn:hover {
  transform: translateY(-2px); /* Nâng nhẹ */
  background: linear-gradient(45deg, #dad8d956, #aaa9ab23); /* Gradient đổi khi hover */

}

.main-content {
  flex: 1;
  padding-top: 70px;
}

.footer {
  background: #4a3c8c;
  color: #fff;
  padding: 20px 0;
  width: 100%;
  box-sizing: border-box;
  text-align: center;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  flex-wrap: wrap;
}

.footer-section {
  flex: 1;
  min-width: 200px;
  margin: 10px 0;
}

.footer-section h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.footer-section h4 {
  font-size: 14px;
  margin-bottom: 5px;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  margin-bottom: 5px;
  font-size: 12px;
  color: #ccc;
}

.footer-section ul li:hover {
  color: #fff;
}

.footer-bottom {
  text-align: center;
  margin-top: 20px;
  border-top: 1px solid #666;
  padding-top: 10px;
}

.footer-bottom p {
  font-size: 12px;
  margin-bottom: 10px;
}

.footer-links a {
  color: #ccc;
  margin: 0 10px;
  text-decoration: none;
  font-size: 12px;
}

.footer-links a:hover {
  color: #fff;
}